/**
* @author Marcel Singer/aMMokschaf
* @author Ismail Atan
*/

/**
App-Component consists of a grid with four components, which are mounted to #mainContainer:
Navigation, Logo, Content, Sidebar
*/

#root {
  margin-left: 25%;
  margin-right: 25%;
  font-family: Verdana, Geneva, sans-serif; 
}

body {
  background-image: url('..\images\dark-honeycomb.png');
  background-color: rgb(27, 73, 83);
}

#navigation {
  background-color: #14A098;
}

#content {
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

/*grid-related things */

#mainContainer {
    height: 100%;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 10% 90%;
    grid-template-areas: 
        "n l"  
        "c s"
    ;
    background-color: #CCCCCC;
    background-image: url('../images/white-waves.png');
    background-image: url('../images/papyrus.png');
    margin-left: auto;
    margin-right: auto;
    border-width: 0.5px;
    border-style: solid;
    border-color: rgb(43, 43, 43);
}


@media only screen and (max-width: 900px) {
    #mainContainer {
        grid-template-rows: 150px 250px 250px 1fr; /*Nach Unten*/
        grid-template-columns: 1fr 350px;/*Nach Rechts*/
        grid-template-areas: 
            "l l "
            "c n"
            "c s"
            "c s"
            ;
    }

    #root {
        margin-left: 0%;
        margin-right: 0%;
    }

    #logo {
        background-position: center;
    }

    #navigation{
        /*max-height: 300px;*/
        padding: 0%;
    }

    .sidebar{
        padding-left: 0%;
        margin: 0%;
    }
}

@media only screen and (max-width: 671px) {
    #mainContainer {
        grid-template-rows: 150px 250px 1fr 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "l" 
            "n" 
            "c" 
            "c"
        ;
    }

    #root {
        margin-left: 0%;
    }

    #sidebar {
        display: none;
    }
}

#logo {
  grid-area: l;
  background-color: #CB2D6F;
}

#navigation {
  grid-area: n;
}

#content {
	grid-area: c;
}

#sidebar {
	grid-area: s;
}