/**
 * @author Marcel Singer/aMMokschaf
 */

.divGroup {
  background-color: rgba(0,0,0,0.3);
  font-family: Verdana, Geneva, sans-serif; 
  margin: 10px;
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 9fr 3fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
  " l i m e "
  " l i m s "
  " l i m s "
  " l i m b "
  ;
}

#line {
  grid-area: l;
  background-color: #14A098;
  width: 5px;
  padding: 0;
}

.divGroup:hover #line{
  background-color: #501F3A;
}

.groupMembers {
  grid-area: m;
  margin: 5px;
}

.groupInfos {
  grid-area: i;
  margin: 5px;
}

.groupButtonJoinLeave {
  grid-area: b;
}

.groupButtonExpandCollapse {
  grid-area: e;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.space {
  grid-area: s;
}

#expand-collapse {
  background-color: rgba(0, 0, 0, 0.0);
  color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  font-size: 16px;
  float: right;
}

#join-leave {
  display: inline-block;
  text-align: center;
  margin: 10px;
}