/**
 * @author Marcel Singer/aMMokschaf
 */

.loading-image {
  animation: loading-image-spin infinite 10s linear;
  height: 5vmin;
  pointer-events: none;
  font-family: Verdana, Geneva, sans-serif; 
}

#loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
  
@keyframes loading-image-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}