/**
 * @author Marcel Singer/aMMokschaf
 */

/**
The Navigation-grid has three columns, which are grouped by category:
#navleft: Show specific data like groups
#navcenter: Enter new things
#navright: Static content like legal things
*/

.Navigation {
    display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 80% 20%;
	grid-template-areas: 
        " l c r "
        " d s . "
    ;
    padding: 15px;
}

#navleft {
    grid-area: l;
    text-align: left;
}

#navcenter {
    grid-area: c;
    text-align: center;
}

#navright {
    grid-area: r;
    text-align: right;
}

.search {
    grid-area: s;
}

#dashButtonBar {
    grid-area: d;
}

.nav {
    font-size: 14px;
    color: black;
}
  
ul {
 display: inline;
}
  
.nav li:hover {
    color: white;
}