/**
 * @author Marcel Singer/aMMokschaf
 */

.divPerson {
  background-color: rgba(0,0,0,0.3);
  font-family: Verdana, Geneva, sans-serif;
  margin: 10px;
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 9fr 3fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
  " l n c e "
  ;
}

#line {
  grid-area: l;
  background-color: #14A098;
  width: 5px;
  padding: 0;
}

.divPerson:hover #line{
  background-color: #501F3A;
}

.personName {
  grid-area: n;
  margin: 10px;
}

.personCourse {
  grid-area: c;
  margin: 5px;
}

.personIcon {
  max-width: 12vh;
  max-height: 5vh;
  font-size: 8px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#expand-collapse {
  background-color: rgba(0, 0, 0, 0.0);
  color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  font-size: 16px;
}

.groupButtonExpandCollapse {
  grid-area: e;
}