/**
 * @author Marcel Singer/aMMokschaf
 */

 /*
.background is the div that covers the whole viewport, so that you can't 
click any other buttons while the popup is display.
.window is the message-window.
TODO:Needs moar pretty
 */

.background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.window {
    position: absolute;
    left: 35%;
    right: 35%;
    top: 50%;
    bottom: 20%;
    margin: auto;
    padding: 5px;
    background: lightgrey;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    " g g g "
    " c c c "
    " c c c "
    " . b . "
    ;
}

#closePopupButton {
    grid-area: b;
    margin: auto;
}

#groupName {
    grid-area: g;
}

#popupContent {
    grid-area: c;
}