/**
 * @author Marcel Singer/aMMokschaf
 */

.sidebar {
    max-height: 600px;
    font-family: Verdana, Geneva, sans-serif;
    color: white;
    /*padding: 5px;*/
    background-color: rgba(0, 0, 0, 0.3);
    /*margin: 10px;*/

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        " . u i "
        " g g . "
        " g g . "
    ;
}

#sidebar {
    background-color: #501F3A;
}

#currentUser {
    grid-area: u;
}

#userIcon {
    grid-area: i;
}

#userIconImage {
    height: 80px;
    width: 80px;
}

#userGroups {
    grid-area: g;
}

ul {
    font-size: 14px;
    color: black;
}

li {
    list-style-type: none;
}